.header {
  background: linear-gradient(
      180deg,
      rgba(232, 129, 130, 0.9) 0%,
      rgba(239, 217, 137, 0.9) 100%
    ),
    url(/img/header_backgraund.png) no-repeat center/cover;
  padding-bottom: 130px;
  .header__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 180px;
    position: relative;
    .header__logo {
      display: flex;
      align-items: center;
    }
    .header__nav {
      ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        li {
          a.elem {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            padding-right: 55px;
            position: relative;
            line-height: 26px;
            &:hover {
              color: #fce38a;
            }
            &::after {
              display: none;
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
              width: 100%;
              height: 2px;
              color: #fce38a;
              background: #fce38a;
            }
            &:hover::after {
              display: block;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  .header__title {
    .header__content {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      h2 {
        font-family: "Kaushan Script", cursive;
        font-size: 72px;
        color: #fff;
        padding-bottom: 60px;
        margin: 0 auto;
      }
      h1 {
        font-size: 130px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        position: relative;
        margin: 0 auto;
        margin-bottom: 140px;
      }
      a.header__btn {
        @include btn;
        &::after {
          content: "";
          position: absolute;
          right: 30%;
          top: -60px;
          width: 60px;
          height: 2px;
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }
  .header__items {
    margin-top: 155px;
    .header__navigation {
      flex-wrap: wrap;
      .header__item {
        text-align: center;
        align-items: center;
        display: flex;
        max-width: 255px;
        width: 100%;
        height: 65px;
        border-top: 3px solid #fff;
        padding: 25px 0;
        margin-right: 25px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        a {
          float: left;
          font-size: 18px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-weight: 400;
          span {
            font-size: 24px;
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
// ----------hamburger-menu------------------
.hamburger-menu {
  display: none;
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 100;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 20;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    background: linear-gradient(
      180deg,
      rgba(232, 129, 130, 0.9) 0%,
      rgba(239, 217, 137, 0.9) 100%
    );
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    a {
      text-decoration: none;
      &.menu__item {
        text-transform: uppercase;
        display: block;
        margin: 20px auto;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        transition-duration: 0.25s;
        &:hover {
          color: #fce38a;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .header__items {
      .header__navigation {
        .header__item {
          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .header {
    .header__title {
      .header__content {
        h2 {
          font-size: 50px;
        }
        h1 {
          font-size: 100px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    .header__navigation {
      margin-bottom: 150px;
      .header__nav {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
    .header__title {
      .header__content {
        h2 {
          font-size: 40px;
        }
        h1 {
          font-size: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .header {
    padding: 0 15px 130px;
    .header__navigation {
      margin-bottom: 100px;
      .hamburger-menu {
        .menu__box {
          width: 200px;
        }
      }
    }
    .header__title {
      .header__content {
        h2 {
          font-size: 35px;
        }
        h1 {
          font-size: 47px;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    .header__title {
      .header__content {
        h2 {
          font-size: 30px;
        }
        h1 {
          font-size: 37px;
        }
      }
    }
  }
}
