.blog {
  padding: 100px 0;
  .blog__title {
    @include title;
    margin-bottom: 15px;
  }
  .blog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .blog__date {
      position: absolute;
      width: 60px;
      height: 70px;
      background: #95e1d3;
      bottom: 170px;
      left: -15px;
      text-align: center;
      padding-top: 10px;
      .blog__date__item {
        font-size: 30px;
        margin: 0;
        color: #fff;
        font-weight: 700;
        line-height: 1em;
      }
      span {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #fff;
        font-style: italic;
      }
    }
    .blog__items {
      max-width: 350px;
      width: 100%;
      height: auto;
      margin-right: 30px;
      padding: 0;
      &:last-child {
        margin-right: 0;
      }
      h6 {
        @include h6;
        font-size: 14px;
        margin: 20px 0;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
      }
      p {
        @include p;
        line-height: 1.5em;
      }
      .blog__logo {
        position: relative;
        img {
          max-width: 360px;
          width: 100%;
          height: auto;
        }
      }
      .blog__views {
        padding-top: 19px;
        border-top: 1px solid #dbd9d9;
        .fas {
          color: #95e1d3;
        }
        span {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 15px;
          color: #999999;
          font-style: italic;
          margin: 0 15px 0 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .blog {
    .blog__content {
      .blog__items {
        margin: 0 0 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 75px 0;
  }
}
@media screen and (max-width: 576px) {
  .blog {
    padding: 50px 0;
  }
}
@media screen and (max-width: 369px) {
  .blog {
    .blog__content {
      .blog__items {
        .first_date {
          bottom: 190px;
        }
      }
    }
  }
}

.map {
  background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0.9) 0%,
      rgba(217, 217, 217, 0.9) 100%
    ),
    url(/img/background-section11.png) no-repeat center/cover;
  padding: 50px 0 80px;
  cursor: pointer;
  .map__items {
    text-align: center;
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    h3 {
      margin-top: 17px;
      user-select: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background: #f38181;
        top: 50px;
        right: 50%;
        transform: translateX(48%);
      }
    }
  }
}

.footer {
  padding: 70px 0;
  .footer__content {
    display: flex;
    padding: 0;
    .footer__items {
      padding: 0;
      margin-right: 30px;
      .footer__text {
        @include p;
        margin: 45px 0 50px;
      }
      p.footer__followers {
        font-size: 14px;
        color: #222222;
        font-weight: 700;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          font-weight: 700;
          margin-right: 5px;
        }
      }
      .footer__followUs {
        display: flex;
        padding: 15px 0;
        border-top: 1px solid #dbd9d9;
        p {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 15px;
          color: #999999;
          font-style: italic;
          margin-right: 25px;
        }
        a {
          text-decoration: none;
          color: #95e1d3;
          padding-right: 15px;
        }
      }
      .footer__input {
        #input {
          max-width: 200px;
          width: 100%;
          height: auto;
          padding: 10px;
          border: 1px solid #dbd9d9;
          font-size: 15px;
          color: #999999;
          &::placeholder {
            color: #d9d9d9;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 15px;
            font-style: italic;
          }
          &:focus {
            outline: none;
          }
        }
        .footer__btn {
          max-width: 150px;
          width: 100%;
          max-height: 40px;
          height: 100%;
          border: 1px solid #95e1d3;
          background: #95e1d3;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          padding: 11px;
        }
      }
    }
    .footer__blogs {
      h6 {
        @include h6;
        font-size: 14px;
        margin-bottom: 40px;
      }
      .footer__blogs__item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .footer__blogs__title {
          @include h6;
          font-size: 12px;
          margin: 10px 0 10px 20px;
        }
        .footer__blogs__subtitle {
          color: #999999;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 13px;
          font-style: italic;
          margin-left: 20px;
        }
      }
    }
    .footer__instagram {
      h6 {
        @include h6;
        font-size: 14px;
        margin-bottom: 40px;
      }
      .footer__instagram__items {
        display: grid;
        grid-template-columns: 88px, 1fr, 1fr;
      }
    }
  }
}
