.map {
  background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0.9) 0%,
      rgba(217, 217, 217, 0.9) 100%
    ),
    url(/img/background-section11.png) no-repeat center/cover;
  position: relative;
  .map__logo {
    padding: 50px 0 80px;
    cursor: pointer;
    text-align: center;
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    h3 {
      margin-top: 17px;
      user-select: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background: #f38181;
        top: 50px;
        right: 50%;
        transform: translateX(48%);
      }
    }
    &.invis {
      display: none;
    }
  }
  .map__items {
    display: none;
    background: #fff;
    &.vis {
      display: block;
    }
  }
  .map__close {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 35px;
    color: #fff;
    background: #777;
    line-height: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    &.vis {
      display: block;
    }
  }
}
