.blog {
  padding: 100px 0;
  .blog__title {
    @include title;
    margin-bottom: 15px;
  }
  .blog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .blog__date {
      position: absolute;
      width: 60px;
      height: 70px;
      background: #95e1d3;
      bottom: 170px;
      left: -15px;
      text-align: center;
      padding-top: 10px;
      .blog__date__item {
        font-size: 30px;
        margin: 0;
        color: #fff;
        font-weight: 700;
        line-height: 1em;
      }
      span {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #fff;
        font-style: italic;
      }
    }
    .blog__items {
      max-width: 350px;
      width: 100%;
      height: auto;
      margin-right: 30px;
      padding: 0;
      &:last-child {
        margin-right: 0;
      }
      h6 {
        @include h6;
        font-size: 14px;
        margin: 20px 0;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
      }
      p {
        @include p;
        line-height: 1.5em;
      }
      .blog__logo {
        position: relative;
        img {
          max-width: 360px;
          width: 100%;
          height: auto;
        }
      }
      .blog__views {
        padding-top: 19px;
        border-top: 1px solid #dbd9d9;
        .fas {
          color: #95e1d3;
        }
        span {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 15px;
          color: #999999;
          font-style: italic;
          margin: 0 15px 0 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .blog {
    .blog__content {
      .blog__items {
        margin: 0 0 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 75px 0 50px;
  }
}
@media screen and (max-width: 576px) {
  .blog {
    padding: 50px 0;
  }
}
@media screen and (max-width: 369px) {
  .blog {
    .blog__content {
      .blog__items {
        .first_date {
          bottom: 190px;
        }
      }
    }
  }
}
